/*
Author: Saifur Rahman Chowdhury
Email: chysaifurrahmanbd@gmail.com
Phone: +880-1816-120934
*/

/*
===================================
        Universal Styles
===================================
*/
*{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: #F5F8FF;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: #96355A;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 10.9px #F7600E;
    box-shadow: 0 5px 15px #F7600E;
    transform: scale3d(1.1, 1.1, 1.1)
}

/*
===================================
        Header Style Start
===================================
*/
header{
    background-image: url(images/Hero-bg.png);
    background-size: cover;
    padding: 50px 150px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1140px;
    max-height: 150px;
}
header nav h3{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
header nav h3:hover{
    color: #96355A;
    font-weight: 900;
    text-shadow: 0px 0px 10px #F7600E;
    transform: scale3d(1.1, 1.1, 1.1)
}
header .banner{
    text-align: center;
    padding: 150px 250px;
}
header .banner h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #252432;
}

/*
===================================
        Action Section Start
===================================
*/
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 150px;
}
.action-content h3{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.action-content p{
    font-size: 18px;
    font-weight: 500;
    color: #808080;
    margin: 20px auto;
}
.action-image img{
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 48px;
}
/*
===================================
        Action Section End
===================================
*/

/*
===================================
        User Section Start
===================================
*/
.user{
    background-color: #E5E7FF;
    text-align: center;
    margin: 120px 150px;
    border-radius: 24px;
    padding: 50px 150px;
}
.user h3{
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}
.user-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.user-content h1{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}
.user-content p{
    font-size: 20px;
    font-weight: 400;
    color: #808080;
}
/*
===================================
        User Section End
===================================
*/

/*
===================================
        Ratings Section Start
===================================
*/
.ratings{
    text-align: center;
    margin: 0 150px 120px 150px;
}
.ratings h3{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 40px;
}
.ratings-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 20px;
}
.rating-card{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
}
.rating-card h4{
    margin: 15px 0;
}
.rating-user{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.rating-user img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.rating-user h5,
.rating-user p{
    color: #808080;
}
/*
===================================
        Ratings Section End
===================================
*/

/*
===================================
        Focus Section Start
===================================
*/
.focus{
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin: 120px 150px;
    padding: 70px 150px;
}
.focus h2{
    font-size: 50px;
    font-weight: 700;
    color: #252432;
}
.focus p{
    font-size: 20px;
    font-weight: 500;
    color: #808080;
    margin: 20px auto;
}
.focus-image img{
    border-radius: 48px;
    margin-top: 20px;
}
/*
===================================
        Focus Section End
===================================
*/

/*
===================================
        Get in Touch Section Start
===================================
*/
.get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 100px 150px;
}
.get-in-touch h1{
    font-size: 100px;
}
.touch-form label{
    font-size: 20px;
    font-weight: 600;
    color: #252432;
    display: block;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    height: 60px;
    background-color: #E5E7FF;
    border-radius: 5px;
    font-size: 16px;
    color: #808080;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none
}
.touch-form button{
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.touch-form button:hover{
    background-color: #96355A;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 10.9px #F7600E;
    box-shadow: 0 5px 15px #F7600E;
}
/*
===================================
        Get in Touch Section End
===================================
*/